* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    text-transform: capitalize;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: url("../3. About page/3d.jpg") no-repeat;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem 4rem;
    z-index: 1000;
}

#header .fa-hamburger {
    font-size: 4rem;
    z-index: 10000;
    color: black;
    cursor: pointer;
    display: none;
}

#header .logo img {
    height: 5rem;
}

#header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style: none;
}

#header nav ul li {
    margin-right: 4rem;
}

#header nav ul li a {
    color: black;
    font-size: 2rem;
}

#header nav ul li a:hover {
    color: black;
    text-decoration: none;
}

.header-active {
    background: #333;
    height: 6rem;
    -webkit-box-shadow: .2rem 0 .5rem #000;
    box-shadow: .2rem 0 .5rem #000;
}

.header-active nav ul {
    margin: 0;
}

#about .heading h1 {
    font-size: 27px;
    color: white;
    padding-left: 7rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

#about .heading h1 span {
    color: white;
}

#about .content {
    margin: 5rem auto;
}

#about .content p {
    font-size: 2rem;
    padding-top: 5rem;
    padding-left: 7rem;
    text-transform: none;
}

#about .content button {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: black;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: none;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 4rem;
    width: 14rem;
    background: #333;
    color: #fff;
}

#about .content button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF200;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
}

#about .content button:hover::before {
    width: 100%;
}

#about .content button:hover {
    color: black;
}

#about .image img {
    background: url("../3. About page/logo.PNG");
    margin-top: 6vw;
    margin-left: 4vw;
    width: 40vw;
    height: 30vw;
    border-radius: 50%;
}

.col-md-6 image>img {
    margin-left: 20rem;
}

#dish1 {
    min-height: 50vh;
    width: 100vw;
}

#dish1 .heading h1 {
    font-size: 35px;
    color: rgb(191, 49, 13);
    padding-left: 7rem;
    margin-bottom: 2rem;
}

#dish1 .heading>h1>u>span {
    color: rgb(83, 90, 22);
}

#dish1 .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 90%;
}

#dish1 .box-container .box {
    height: 20rem;
    width: 25rem;
    border-radius: 2rem;
    margin: 2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0 .5rem #333;
    box-shadow: 0 0 .5rem #333;
}

#dish1 .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#dish1 .box-container .box .info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-transform: none;
    background: rgba(51, 51, 51, 0.6);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    color: #fff;
    -webkit-transform: scale(0);
    transform: scale(0);
}

#dish1 .box-container .box .info h3 {
    font-size: 3rem;
}

#dish1 .box-container .box .info p {
    font-size: 2rem;
    text-align: left;
    text-transform: none;
    border-bottom: 0.2rem solid #FFF200;
    border-top: 0.2rem solid #FFF200;
    margin: 1rem 2rem;
}

#dish1 .box-container .box .info button {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: none;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 4rem;
    width: 14rem;
}

#dish1 .box-container .box .info button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF200;
    height: 50%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
}

#dish1 .box-container .box .info button:hover::before {
    width: 100%;
}

#dish1 .box-container .box:hover .info {
    -webkit-transform: scale(1);
    transform: scale(1);
}

#dish2 {
    min-height: 50vh;
    width: 100vw;
}

#dish2 .heading h1 {
    font-size: 27px;
    color: black;
    padding-left: 7rem;
    margin-bottom: 2rem;
}

#dish2 .heading h1 span {
    color: black;
}

#dish2 .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 90%;
}

#dish2 .box-container .box {
    height: 20rem;
    width: 25rem;
    border-radius: 2rem;
    margin: 2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0 .5rem #333;
    box-shadow: 0 0 .5rem #333;
}

#dish2 .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#dish2 .box-container .box .info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-transform: none;
    background: rgba(51, 51, 51, 0.6);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    color: #fff;
    -webkit-transform: scale(0);
    transform: scale(0);
}

#dish2 .box-container .box .info h3 {
    font-size: 3rem;
}

#dish2 .box-container .box .info p {
    font-size: 2rem;
    text-align: left;
    text-transform: none;
    border-bottom: 0.2rem solid #FFF200;
    border-top: 0.2rem solid #FFF200;
    margin: 1rem 2rem;
}

#dish2 .box-container .box .info button {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: none;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 4rem;
    width: 14rem;
}

#dish2 .box-container .box .info button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF200;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
}

#dish2 .box-container .box .info button:hover::before {
    width: 100%;
}

#dish2 .box-container .box:hover .info {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.fa-times {
    -webkit-transform: skew(-180deg) rotate(180deg);
    transform: skew(-180deg) rotate(180deg);
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
    #header .fa-hamburger {
        display: block;
    }
    #header nav {
        position: fixed;
        top: 0;
        left: -120%;
        height: 100vh;
        width: 35rem;
        background: #000;
    }
    #header nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
    }
    #header nav ul li {
        margin: 2rem 0;
    }
    #header nav ul li a {
        font-size: 3.5rem;
        border-radius: 5rem;
    }
    #header nav ul li a:hover {
        padding: .5rem 7.5rem;
        color: #333;
        background: #FFF200;
    }
    #header .nav-toggle {
        left: 0%;
    }
    #about .image {
        text-align: center;
    }
    #about .image img {
        width: 70vw;
    }
}


/*# sourceMappingURL=style.css.map */